<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>控制后台</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="../../component/pear/css/pear.css" />
		<link rel="stylesheet" href="../../admin/css/other/console1.css" />
	</head>
	<body class="pear-container">
		<div class="layui-row layui-col-space10">
			<div class="layui-col-md4">
				<div class="layui-card layui-panel">
					<div class="layui-card-header">
						参数区域
					</div>
					<div class="layui-card-body">	

						<!-- 新增行button -->
						<button id="addparam" type="button" class="layui-btn">加参数</button>
						<button id="addRow" type="button" class="layui-btn">加点</button>
						<button id="draw" type="button" class="layui-btn">绘图</button>
						<button id="gisSub" type="button" class="layui-btn">下部GIS</button>
						<button id="gisSup" type="button" class="layui-btn">上部GIS</button>
						<button id="save" type="button" class="layui-btn">保存</button>
						<button id="see" type="button" class="layui-btn">查看</button>
						<button id="load" type="button" class="layui-btn">载入</button> 
						<!-- input输入 -->
						<form class="layui-form" action="">
							<div class="layui-form-item">
							  <label class="layui-form-label">构件名称</label>
							  <div class="layui-input-block">
								<input id="element" type="text" name="title" required  lay-verify="required" placeholder="请输入构件名称" autocomplete="off" class="layui-input">
							  </div>
							</div>
							<div class="layui-form-item">
							  <label class="layui-form-label">拉伸长度</label>
							  <div class="layui-input-inline">
								<input id="length" type="text" name="length" required lay-verify="required" placeholder="请输入拉伸长度" autocomplete="off" class="layui-input">
							  </div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">拉伸方向</label>
								<div class="layui-input-block">
								  <select id="direction" name="direction" lay-verify="required">
									<option value=""></option>
									<option value="0">vertical</option>
									<option value="1">lateral</option>
									<option value="2">longitudinal</option>
								  </select>
								</div>
							  </div>
						  </form>
						<!-- 动态表格 -->
						<table id="param" lay-filter="abc"></table>
						<a>点区域</a>
						<table id="point" lay-filter="test"></table>		
					</div>
				</div>
			</div>

			<div class="layui-col-md8">
				<div class="layui-card layui-panel">
					<div class="layui-card-header">
						图形区域
					</div>
					<div class="layui-card-body">	
						<div id="container">

						</div>
					</div>
				</div>
			</div>
			
		</div>

		<!-- <div class="layui-row layui-col-space15">

		</div> -->
		<!--</div>-->
		<script src="../../component/layui/layui.js"></script>
		<script src="../../component/pear/pear.js"></script>
		<script>
			//table渲染
			layui.use(['jquery','table'], function(){
			var $ = layui.$ //重点处
			var table = layui.table;
			//第一个参数table
			table.render({
				elem: '#param',//id为demo的table元素已在body中声明。
				height: 300,
				//url: '/demo/table/user/' //数据接口
				page:{
					curr: 1,
					limit:100,
				}, //开启分页
				limit:100,
				limits:[100],
				data:[],//这里赋初始值
				cols: [[ //表头
				{field: 'key', title: '参数名',edit: 'text', width:80}
				,{field: 'value', title: '默认值',edit: 'text', width:80}
				]],
				done: function (res, curr, count) {
							//数据渲染完的回调。
							//由于layui 设置了超出隐藏，所以这里改变下，以兼容操作按钮的下拉菜单
							$(".layui-table-cell").css('overflow', 'visible'); 
						}
			});
			//第二个点table
			table.render({
				elem: '#point',//id为demo的table元素已在body中声明。
				height: 512,
				//url: '/demo/table/user/' //数据接口
				page:{
					curr: 1,
					limit:100,
				}, //开启分页
				limit:100,
				limits:[100],
				data:[],//这里赋初始值
				cols: [[ //表头
				{field: 'point_name', title: '点名称',edit: 'text', width:40},
				{field: 'ref', title: '参考点',edit: 'text', width:40},
				,{field: 'x', title: 'x',edit: 'text', width:60}
				,{field: 'y', title: 'y',edit: 'text', width:60}
				]],
				done: function (res, curr, count) {
							//数据渲染完的回调。
							//由于layui 设置了超出隐藏，所以这里改变下，以兼容操作按钮的下拉菜单
							$(".layui-table-cell").css('overflow', 'visible'); 
						}
			});
			//
			//
			table.on('edit(test)', function(obj)
			{ //注：edit是固定事件名，test是table原始容器的属性 lay-filter="对应的值"
			console.log(obj.value); //得到修改后的值
			console.log(obj.field); //当前编辑的字段名
			console.log(obj.data); //所在行的所有相关数据  
			});
			
			});

			//
			//参数和点table添加行
			layui.use(['jquery','table'], function(){ 
				var $ = layui.$ //重点处
				var table = layui.table;
				$("#addRow").on("click", function() {
					tableActive.addNewRow();
				});
				$("#addparam").on("click", function() {
					tableparam.addNewRow();
				});
				var tableActive = {
					//点的表：添加行
					addNewRow: function() {
						//获取表格当前数据
						var newData =[];
						newData = table.cache["point"];//获取现有所有数据
						//console.log(newData);
						//新行数据
						var newRow= {
						"id":1,
						"point_name":`P${newData.length+1}`,
						"ref":"P0",
						//给新行空数据
						};
						//将新行插入表格数据中
						newData.push(newRow);
						//使用新数据重载表格
						table.reload(
							"point",
							{
							page:{
							curr: 1,
							limit:100,
							}, //开启分页
							limit:100,
							limits:[100],
							data: newData
							},
							//true,
						);
					//
				}}
				//
				var tableparam = {
					//参数的表：添加行
					addNewRow: function() {
						//获取表格当前数据
						var newData =[];
						newData = table.cache["param"];//获取现有所有数据
						//console.log(newData);
						//新行数据
						var newRow= {
						"id":1,
						//给新行空数据
						};
						//将新行插入表格数据中
						newData.push(newRow);
						//使用新数据重载表格
						table.reload(
							"param",
							{
							page:{
							curr: 1,
							limit:100,
							}, //开启分页
							limit:100,
							limits:[100],
							data: newData
							},
						);
				}}			
			})

		</script>
		

		<script async src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"></script>

		<script type="importmap">
			{
				"imports": {
					"three": "../../three/build/three.module.js"
				}
			}
		</script>
		<!-- 添加数据库 -->
		<script type="module">
			import {DBWrapper} from '../../indexdbwrapper/index.js';
			const db = new DBWrapper("db1", 1, {
			onupgradeneeded: e => {
				const db = e.target.result;
				const objStore = db.createObjectStore("t1", {
				autoIncrement: true,
				keyPath: "name"//主键
				});
				objStore.createIndex("name", "name", { unique: !1 });//存name,length,direction的kv作为value
				objStore.createIndex("length", "length", { unique: !1 });//存name,length,direction的kv作为value
				objStore.createIndex("direction", "direction", { unique: !1 });
				objStore.createIndex("parameters", "parameters", { unique: !1 });//存所有参数的kv作为value
				objStore.createIndex("points", "points", { unique: !1 });//存所有点的kv作为value
				objStore.createIndex("gis", "gis", { unique: !1 });//存gis data为value
				objStore.createIndex("gisP", "gisP", { unique: !1 });//存gis data为value
			}})
			//保存和载入数据库
			layui.use(['jquery','table','form'], function(){ 
				var $ = layui.$ //重点处
				var table = layui.table;
				var form = layui.form;
				//构造数据
				$("#save").on("click", function() {
					var name = document.getElementById("element").value;
					var length = document.getElementById("length").value;
					var direction = document.getElementById("direction").value;//0,1,2. 分别代表vertical, lateral, longitudinal
					var parametersString = layui.table.cache["param"];
					var pointsString = layui.table.cache["point"];
					var gis = JSON.stringify(getGisEntity(getAbsPointList()));
					var gisP = JSON.stringify(getGisEntityWithParam());
					//添加数据
					db.add('t1', {name:name, length: length, direction:direction, parameters: parametersString, points:pointsString, gis:gis, gisP:gisP})
					.then(res => {
						console.log('add object ok!', res)
						db.close() // 关闭数据库
						console.log('db close')
						alert("数据库保存成功");//后续改成layer.on
					})
					.catch(err => {
						console.log('add object error', err)
						db.close() // 关闭数据库
						console.log('db close')
					})	
				});
				//加载数据
				$("#load").on("click", function() {//requst是promise，需要用then拿值
					var className = document.getElementById("element").value;
					var request = db.get('t1', className).then(
					(result) => {//result是拿回来的对象
						console.log(result);
						//加载构件名称、长度、方向
						document.getElementById("length").value = result.length;
						$("#direction").val(result.direction);
						form.render('select');
						//加载param表
						table.render({
							elem:"#param",
							page:{
								curr: 1,
								limit:100,
							}, //开启分页
							limit:100,
							limits:[100],
							cols:[[
								{
								field: 'key',
								title: '参数名',
								width: '50%',
								edit: 'text',
								},
								{
								field: 'value',
								title: '默认值',
								width: '50%',
								edit: 'text',
								}
							]],
							data:result.parameters,//[{key: 'a', value: '23'}]
						});
						//加载point表
						table.render({
							elem:"#point",
							page:{
								curr: 1,
								limit:100,
							}, //开启分页
							limit:100,
							limits:[100],
							cols:[[
								{
								field: 'point_name',
								title: '点名称',
								width: '25%',
								edit: 'text',
								},
								{
								field: 'ref',
								title: '参考点',
								width: '25%',
								edit: 'text',
								},
								{
								field: 'x',
								title: 'x',
								width: '25%',
								edit: 'text',
								},
								{
								field: 'y',
								title: 'y',
								width: '25%',
								edit: 'text',
								}
							]],
							data:result.points,//[{key: 'a', value: '23'}]
						});
					}
					);
				});
				//查询数据
				$("#see").on("click", function() {//requst是promise，需要用then拿值
					var request1 = db.getAll('t1').then(
					(result) => {//result是拿回来的对象,是一个list，包含所有对象
						//把result中所有name提出出来
						var string="数据库中已存的零件如下：";
						result.forEach(function(value,index){
							string += '</br>'+'&nbsp &nbsp'+value.name;
						})
						layer.open({
							title: '所有零件',
							type: 1,
							area: ['500px', '300px'],
							content: string,
							}); 
						}
					);
				});
			})


			//开始threejs环节
			import * as THREE from 'three';

			// import Stats from '../../three/jsm/libs/stats.module.js';

			import { OrbitControls } from '../../three/jsm/controls/OrbitControls.js';
			import { TextGeometry } from '../../three/jsm/geometries/TextGeometry.js';
			import { FontLoader } from '../../three/jsm/loaders/FontLoader.js';

			// From d3-threeD.js
			/* This Source Code Form is subject to the terms of the Mozilla Public
			 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
			 * You can obtain one at http://mozilla.org/MPL/2.0/. */


			let renderer, stats, scene, camera;

			init();
			animate();

			//
			//建立abspointList
			
			//绘制图形
			layui.use(['jquery','table'], function(){ 
				var $ = layui.$ //重点处
				var table = layui.table;
				var gisData ="";
			
				//获取table数据,并绘图threejs
				var first = true;
				$("#draw").on("click", function() {
					//1- 构建pointAbsList
					var pointAbsList = getAbsPointList();
					//构建点本身
					const geometry1 = new THREE.SphereGeometry( 1, 32, 16 );
					const material1 = new THREE.MeshBasicMaterial( { color: 0xffff00 } );
					const group1 = new THREE.Group();//文字的group
					const group2 = new THREE.Group();//点的group
					pointAbsList.forEach(function(point,index)
					{
						//画点
						const sphere = new THREE.Mesh( geometry1, material1 );
						sphere.position.set(point.x,point.y,0);
						group2.add(sphere);
						group2.name ="s1";
						//写文字
						var textLoad = new FontLoader().load( '../../three/fonts/helvetiker_regular.typeface.json', function ( font ) {
							const geometry2 = new TextGeometry(`P${index+1}`, {
								font :font,
								size: 3,
								height: 1,
								curveSegments: 12,
								bevelEnabled: false,
								bevelThickness: 10,
								bevelSize: 8,
								bevelOffset: 0,
								bevelSegments: 5
							} );
							var material2 = new THREE.MeshBasicMaterial({color: 0x0000ff});
							const text = new THREE.Mesh( geometry2, material2 );
							text.position.set(point.x,point.y+2,0);
							group1.add(text);
							group1.name ="t1";
						})//
					})
					//先把上次生成的内容删除，再把文字和点添加到scene
					if (!first) scene.remove(scene.getObjectByName("t1")); 
					scene.add( group1 );
					if (!first) scene.remove(scene.getObjectByName("s1")); 
					scene.add( group2 );
					first=false;

					//构建点围成的2d面
					var length = getLength();//document.getElementById("length").value;
					var direction = document.getElementById("direction").value;//0,1,2. 分别代表vertical, lateral, longitudinal
					var points=[];
					pointAbsList.forEach(function(point,index)
					{
						var point = new THREE.Vector2(point.x,point.y); 
						points.push(point);
					})
					var shape = new THREE.Shape(points);
					//绘制 2d shape到shapegeometry
					const geometry = new THREE.ShapeGeometry( shape );
					const material = new THREE.MeshBasicMaterial( { color: 0x00ff00 } );
					const mesh = new THREE.Mesh( geometry, material ) ;
					mesh.name ="p1";
					if (!first) scene.remove(scene.getObjectByName("p1")); 			
					scene.add( mesh );
					

					// 绘制3d拉伸体,先构建我们自己的三维格式
					var entity2 = getGisEntity(pointAbsList);
					gisData = JSON.stringify(entity2);
					//转换我方格式到threejs
					var extrude = toThreeExtrude(entity2);
					//第二次运行绘图，删除上一次的图
					extrude.name ="e1";
					if (!first) scene.remove(scene.getObjectByName("e1")); 
					scene.add( extrude );
					first = false;
					//
					//3- 建立参考line（0,0,0）位置 =>not necessary in the whole function chain
					const materialY = new THREE.LineBasicMaterial({
						color: 0x0000ff
					});
					const points1 = [];
					points1.push( new THREE.Vector3( 0, 0, 0 ) );
					points1.push( new THREE.Vector3( 100000,0 , 0 ) );
					points1.push( new THREE.Vector3( 0, 0, 0 ) );
					const geometryY = new THREE.BufferGeometry().setFromPoints( points1 );
					const lineY = new THREE.Line( geometryY, materialY );
					scene.add( lineY );

					});	

					//按钮：gis按钮点击后
					layui.use('layer', function(){
						var $ = layui.$ //重点处
						var layer = layui.layer;
						// var gisData = JSON.stringify();
						$("#gisSub").on("click", function() {
							var entity3 = getGisEntityWithParam();
							layer.open({
								title: 'gis实体数据',
								type: 1,
								area: ['500px', '300px'],
								content: JSON.stringify(entity3)
								}); 
							});	
							//
						$("#gisSup").on("click", function() {
							var entity3 = getGisEntityWithParam();
							layer.open({
								title: 'gis上部结构数据',
								type: 1,
								area: ['500px', '300px'],
								content: getGisSupCode(entity3,getGisEntity(getAbsPointList()))
								}); 
							});	
					});
			})
			//构建自己的gis实体数据
			function getGisEntity(pointAbsList)
			{
				//
				var length = getLength();
				var direction = document.getElementById("direction").value;
				var name = document.getElementById("element").value;
				// 绘制3d拉伸体,先构建我们自己的三维格式
				var profile =[];
				pointAbsList.forEach(function(point,index){
					profile.push([point.x,point.y]);
				})
				var line=[];//direction的0,1,2. 分别代表vertical, lateral, longitudinal，分别对应threejs的Y X Z. 因为upaxis是Y
				if(direction==="0") line = [[0,0,0],[0,Number(length),0]];
				if(direction==="1") line = [[0,0,0],[Number(length),0,0]] ;
				if(direction==="2") line = [[0,0,0],[0,0,Number(length)]] ;
				console.log(line);
				//debugger
				let entity2 = //一个零件实体
				{
					type: "extrude",// or use entity? a entity is composed by geometry,transformation,properties
					geometry: {
						profile: profile,//使用自己的几何中心的坐标。local profile-base c2 coordinate system
						line:line,// sweep line just direction and length are sufficient.。都向下拉伸。 变换的是拉伸向量，而不是profile。因为three的机制是拉伸向量控制拉伸体的骨架位置和长度。
					},
					transformation:{//各构件相对于桥墩这个assembly的origin要进行平移和竖向移动。故使用桥墩坐标系即路线坐标系：ver,lat,lon
						origin:"alignment point",
						cs:"local alignment",//代表coordiante system坐标系
						translate:{
							vertical:0,//路线坐标系：竖直。 对应y
							lateral:0,//路线坐标系：横桥向。 对应x
							longitudinal:0//路线坐标系：顺桥向偏移距离。 对应z。 对应的是threejs里边的xyz
						},
						rotate: {
							vertical:0,//路线坐标系：竖直。 对应y
							lateral:0,//路线坐标系：横桥向。 对应x
							longitudinal:0
                		}	
					},
					properties: {
						name: name
					}
				}
				return entity2
			}
			//构建自己的gis实体数据 - 带参数 
			function getGisEntityWithParam()
			{
				//
				var length =  document.getElementById("length").value;
				var direction = document.getElementById("direction").value;
				var name = document.getElementById("element").value;
				var profile = getAbsPointListWithParam();
				console.log(profile);
				// 绘制3d拉伸体,先构建我们自己的三维格式
				var line=[];//direction的0,1,2. 分别代表vertical, lateral, longitudinal，分别对应threejs的Y X Z. 因为upaxis是Y
				if(direction==="0") line = [[0,0,0],[0,length,0]];
				if(direction==="1") line = [[0,0,0],[length,0,0]] ;
				if(direction==="2") line = [[0,0,0],[0,0,length]] ;
				//debugger
				var entity2 = //一个零件实体
				{
					type: "@extrude",// or use entity? a entity is composed by geometry,transformation,properties
					geometry: {
						profile: profile,//使用自己的几何中心的坐标。local profile-base c2 coordinate system
						line:line,// sweep line just direction and length are sufficient.。都向下拉伸。 变换的是拉伸向量，而不是profile。因为three的机制是拉伸向量控制拉伸体的骨架位置和长度。
					},
					transformation:{//各构件相对于桥墩这个assembly的origin要进行平移和竖向移动。故使用桥墩坐标系即路线坐标系：ver,lat,lon
						origin:"@alignment point",
						cs:"@local alignment",//代表coordiante system坐标系
						translate:{
							vertical:0,//路线坐标系：竖直。 对应y
							lateral:0,//路线坐标系：横桥向。 对应x
							longitudinal:0//路线坐标系：顺桥向偏移距离。 对应z。 对应的是threejs里边的xyz
						},
						rotate: {
							vertical:0,//路线坐标系：竖直。 对应y
							lateral:0,//路线坐标系：横桥向。 对应x
							longitudinal:0
                		}
					},
					properties: {
						name: `@${name}`
					},
				}
				return entity2
			}
			//
			//构建自己的gis-梁  - 上部扫掠体的gis代码
			function getGisSupCode(GisEntityWithParam,GisEntity)
			{
				//
				var codeAll = "";
				layui.use(['jquery','table'], function(){ 
					var name = document.getElementById("element").value;
					//
					var start = `class ${name} {`;//声明一个类
					var end = "};";
					//
					//声明构造函数
					var constructor = `constructor(girder) {this.sections =girder.GirderCrossSections;this.line =girder.Transformation;this.name="${name}";this.profilePointsHolder=[];this.linePointsHolder=[]     };`;//parameter是储存所有属性的对象。结构是GirderCrossSections,Transformation
					//单一界面转点函数
					var functionStart = "toProfilePoints(parameter){"
					var paramList = layui.table.cache["param"];
					var variableCode = "";
					paramList.forEach(function(param,value){
						var code = `var ${param.key} = parameter.${param.key};`;
						variableCode += code+"<br/>";
					}); 
					var returnCode = `return ${JSON.stringify(GisEntityWithParam.geometry.profile).replace(/\"/g, "")}`;//去掉引号，成为变量
					var profileFunction = functionStart + variableCode + returnCode + end;
					//单一transformation转line
					var lineFunction = "toLinePoints(parameter){var line = [parameter.East,parameter.North,parameter.Elevation];return line };";
					//运行转换的函数
					var function2 = "toProfile(){this.sections.forEach((value,index)=>{var points = this.toProfilePoints(value); this.profilePointsHolder.push(points)} ) };";
					var function3 = "toLine(){this.line.forEach((value,index)=>{var points = this.toLinePoints(value);this.linePointsHolder.push(points)   })};"
					//函数调用
					//
					GisEntityWithParam.type ="@sweep";//这个可以根据来访数据的来更改，sweep, loft(对应变宽).
					GisEntityWithParam.geometry.profile = "this.profilePointsHolder";
					GisEntityWithParam.geometry.line = "this.linePointsHolder";
					GisEntityWithParam.properties.name = "this.name";
					//
					var method = `to3D() {this.toProfile();this.toLine();return ${JSON.stringify(GisEntityWithParam).replace(/\"/g, "").replace(/\@([^\,\}]+)/g, "\"$1\"")}};`;
					//module exports
					var exports = `module.exports = ${name}`;
					codeAll = "//第一部分是接口代码"+"<br/>" +start+"<br/>"+ constructor + "<br/>" +profileFunction+"<br/>"+ lineFunction +"<br/>"+function2+"<br/>"+function3+"<br/>"+ method +"<br/>" +end +"<br/>"+exports+ "<br/>" + "<br/>"+ "//第二部分是实体数据" + JSON.stringify(GisEntity);	 ;		
				})
				return codeAll;	
			}
			//计算length 拉伸长度这里的参数到值
			function getLength()
			{
				var length1 = document.getElementById("length").value;
				//length也需要计算一下
				//1- 构建参数表达式：a = 10，用于eval
				var paramtable = layui.table.cache["param"];
				var paramfunc ="";
				// debugger
				paramtable.forEach(function(param,index)
				{
					var func = `var ${param.key}=${param.value};`;
					paramfunc += func;
				})
				var length ;
				eval(`${paramfunc} length= ${length1};`);//利用方程求值
				//
				return length;
			}
			//构建abspointlist: 计算点的坐标位置
			function getAbsPointList()
			{
				var pointAbsList = [];
				layui.use(['jquery','table'], function(){ 
					//1- 构建参数表达式：a = 10，用于eval
					var paramtable = layui.table.cache["param"];
					var paramfunc ="";
					// debugger
					paramtable.forEach(function(param,index)
					{
						var func = `var ${param.key}=${param.value};`;
						paramfunc += func;
					})

					//2- 构建点表达式：a+b, 并计算点的值
					var data = layui.table.cache["point"];
					var pointRelList=[];
					var pointAllList=[];
					var p0 = {name:"P0",x:0,y:0};//000原点 
					//2-1 计算点中参数表达式的值
					data.forEach(function(point1,index)
					{
						var xx ;
						var yy ; 
						var ref = point1.ref;
						var name = point1.point_name;
						eval(`${paramfunc} xx= ${point1.x};`);//利用方程求值
						eval(`${paramfunc} yy= ${point1.y};`);
						var point ={ref:ref,name:name,x :"",y:""};//这个ref是"P0"这种字符串
						point.x = xx;
						point.y = yy;
						pointRelList.push(point);
					});
					//2-2 计算实际点的坐标
					
					var refPoint = p0;
					pointAbsList.push(p0);
					pointRelList.forEach(function(point1,index){
						var abspoint = {name:name,x :"",y:""};
						//寻找refpoint
						var ref = point1.ref;
						pointAbsList.forEach(function(point2,index){
							if (point2.name === ref) refPoint = point2;
						})
						abspoint.name = point1.name;
						abspoint.x = point1.x+refPoint.x;//第一个点一定是基于P0展开的
						abspoint.y = point1.y+refPoint.y;
						pointAbsList.push(abspoint);
					});
					pointAbsList.shift();
				})
				return pointAbsList;
			}
			//拿到带着参数表达式的点list
			function getAbsPointListWithParam()
			{
				var pointAbsList = [];
				layui.use(['jquery','table'], function(){ 
					//- 构建点表达式
					var data = layui.table.cache["point"];
					//2-1 计算点中参数表达式的值
					data.forEach(function(point1,index)
					{
						var xx = point1.x;
						var yy = point1.y;
						pointAbsList.push([xx,yy]);
					});
				})
				return pointAbsList;
			}
			//转换我方model到threejs的model, 需添加上transformation
			function toThreeExtrude(entity)
			{
				var line = entity.geometry.line;

				//构建three的profile shape. shape不进行坐标空间变换，保持local即可。但需要对xy进行一下互换。
				var points=[];
				var profile = entity.geometry.profile;
				var line = entity.geometry.line;
				console.log("拉伸线");
				console.log(line);
				//根据拉伸向量方向，调整profile的值
				if (line[1][1]!==0 && line[1][1]>0 ){//竖向拉伸情况下：且拉伸向量为正。 即：+Y
					profile.forEach(function(pointPair,index)//entity.geometry.profile.forEach(function(pointPair,index)
					{
						var point = new THREE.Vector2(pointPair[1],-pointPair[0]); //竖向拉伸的情况：但需要对截面的xy进行一下互换。因为正常的截面的xy进入threejs和pathline结合后会改变方向，截面跟着pathline跑的。
						points.push(point);
						console.log("竖向拉伸 正");
					})
				}
				if (line[1][1]!==0 && line[1][1]<0 ){//竖向拉伸情况下：且拉伸向量为负。 即：-Y
					profile.forEach(function(pointPair,index)//entity.geometry.profile.forEach(function(pointPair,index)
					{
						var point = new THREE.Vector2(pointPair[1],pointPair[0]); //竖向拉伸的情况：但需要对截面的xy进行一下互换。因为正常的截面的xy进入threejs和pathline结合后会改变方向，截面跟着pathline跑的。
						points.push(point);
						console.log("竖向拉伸 负");
					})
				}
				if (line[1][0]!==0 && line[1][0]>0){//横向拉伸情况下：且拉伸向量为正。 即：+X
					profile.forEach(function(pointPair,index)//entity.geometry.profile.forEach(function(pointPair,index)
					{
						var point = new THREE.Vector2(-pointPair[0],pointPair[1]); //竖向拉伸的情况：但需要对截面的xy进行一下互换。因为正常的截面的xy进入threejs和pathline结合后会改变方向，截面跟着pathline跑的。
						points.push(point);
						console.log("横向拉伸 正");
					})
				}
				if (line[1][0]!==0 && line[1][0]<0){//横向拉伸情况下：且拉伸向量为负。 即：-X
					profile.forEach(function(pointPair,index)//entity.geometry.profile.forEach(function(pointPair,index)
					{
						var point = new THREE.Vector2(-pointPair[0],-pointPair[1]); //竖向拉伸的情况：但需要对截面的xy进行一下互换。因为正常的截面的xy进入threejs和pathline结合后会改变方向，截面跟着pathline跑的。
						points.push(point);
						console.log("横向拉伸 负");
					})
				}
				if (line[1][2]!==0 && line[1][2]>0){//纵向拉伸情况下：且拉伸向量为正。 即：+Z
					profile.forEach(function(pointPair,index)//entity.geometry.profile.forEach(function(pointPair,index)
					{
						var point = new THREE.Vector2(-pointPair[1],pointPair[0]); //竖向拉伸的情况：但需要对截面的xy进行一下互换。因为正常的截面的xy进入threejs和pathline结合后会改变方向，截面跟着pathline跑的。
						points.push(point);
						console.log("纵向拉伸 正");
					})
				}
				if (line[1][2]!==0 && line[1][2]<0){//纵向拉伸情况下：且拉伸向量为负。 即：-Z
					profile.forEach(function(pointPair,index)//entity.geometry.profile.forEach(function(pointPair,index)
					{
						var point = new THREE.Vector2(-pointPair[1],-pointPair[0]); //竖向拉伸的情况：但需要对截面的xy进行一下互换。因为正常的截面的xy进入threejs和pathline结合后会改变方向，截面跟着pathline跑的。
						points.push(point);
						console.log("纵向拉伸 负");
					})
				}
				var profile = new THREE.Shape(points);
				//构建three的path line
				var v1 = new THREE.Vector3(line[0][0],line[0][1],line[0][2]);
				var v2 = new THREE.Vector3(line[1][0],line[1][1],line[1][2]);
				var path = new THREE.LineCurve3(v1,v2);
				console.log(path);
				//构建three的拉伸设置
				const extrudeSettings = {
				steps: 1,
				//depth: 200000,//若使用extrudePath，则此值没用了。
				bevelEnabled: false,
				bevelThickness: 1,
				bevelSize: 1,
				bevelOffset: 0,
				bevelSegments: 1,
				extrudePath:path,
				};
				//构建three的最终实体
				const geometry = new THREE.ExtrudeGeometry( profile, extrudeSettings );
				const material = new THREE.MeshBasicMaterial( { color: 0x00ff00 } );
				const extrude = new THREE.Mesh( geometry, material ) ;
				//构建拉伸体的list
				return extrude;
			}

			//
			function init() {

				const container = document.getElementById( 'container' );

				//

				scene = new THREE.Scene();
				scene.background = new THREE.Color( 0xb0b0b0 );

				//

				camera = new THREE.PerspectiveCamera( 50, window.innerWidth / window.innerHeight, 1, 1000 );
				camera.position.set( 0, 0, 200 );

				//

				const group = new THREE.Group();
				scene.add( group );

				//

				const directionalLight = new THREE.DirectionalLight( 0xffffff, 0.6 );
				directionalLight.position.set( 0.75, 0.75, 1.0 ).normalize();
				scene.add( directionalLight );

				const ambientLight = new THREE.AmbientLight( 0xcccccc, 0.2 );
				scene.add( ambientLight );

				//

				const helper = new THREE.GridHelper( 160, 10 );
				helper.rotation.x = Math.PI / 2;
				group.add( helper );

				//
				const axesHelper = new THREE.AxesHelper( 50 );
				scene.add( axesHelper );

				//

				renderer = new THREE.WebGLRenderer( { antialias: true } );
				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setSize( window.innerWidth/1.2, window.innerHeight/1.2 );
				container.appendChild( renderer.domElement );

				//

				const controls = new OrbitControls( camera, renderer.domElement );
				controls.minDistance = 100;
				controls.maxDistance = 1000;

				//

				// stats = new Stats();
				// container.appendChild( stats.dom );

				//

				window.addEventListener( 'resize', onWindowResize );

			}


			function onWindowResize() {

				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();

				renderer.setSize( window.innerWidth/2, window.innerHeight/2 );

			}

			function animate() {

				requestAnimationFrame( animate );

				render();
				// stats.update();

			}

			function render() {

				renderer.render( scene, camera );

			}

		</script>

	</body>
</html>
